{{!-- main: 文章列表 --}}

<ul id="main-loop">

    {{#foreach posts}}
    <li class="loop box {{post_class}}">

        {{!-- 标题 --}}
        <h2>
            <a href="{{url}}" title="{{title}}">{{title}}</a>
        </h2>

        {{!-- 摘要 --}}
        <div class="excerpt">
            <p>{{excerpt characters="150"}}...</p>
        </div>

        {{!-- 元信息 --}}
        <ul class="post-meta radius">
            <li>
                <div class="ico ico-author"></div>
                {{author}}
            </li>
            <li>
                <div class="ico ico-date"></div>
                <span>{{date format="YYYY-MM-DD"}}</span>
            </li>
            <li>
                <div class="ico ico-tags"></div>
                {{tags}}
            </li>
            <li>
                <div class="ico ico-comments"></div>
                <span class="ds-thread-count" data-thread-key="{{id}}"></span>
            </li>
        </ul>

        <div class="read-more">
            <a href="{{url}}">阅读全文</a>
        </div>
    </li>
    {{/foreach}}

    {{!-- 分页 --}}
    {{pagination}}
</ul>
