{{!-- Mobile Navigation: Only show on mobile (screen width < 640px) --}}

<div id="mobile-nav">
  <div class="wrap clearfix">
    <div class="title fl">

      {{#is "index"}}
        {{@blog.title}}
      {{/is}}

      {{#is "post"}}
        文章
      {{/is}}

      {{#is "page"}}
        {{#post}}{{title}}{{/post}}
      {{/is}}

      {{#is "tag"}}
        {{#tag}}{{name}}{{/tag}}
      {{/is}}

      {{#is "author"}}
        {{#author}}{{name}}{{/author}}
      {{/is}}
    </div>

    <a id="show-mobile-menu" class="btn btn-menu fl" href="javascript:;">
      <div class="ico ico-menu"></div>
    </a>

    {{!--<a id="show-mobile-search" class="btn btn-search fl" href="javascript:;">--}}
      {{!--<div class="ico ico-search"></div>--}}
    {{!--</a>--}}
  </div>
</div>

<div id="mobile-menu" class="clearfix">

  <div id="menu-mask"></div>

  <div id="menu-inner">
    <div class="scroll-box fl">
      <div class="wrap">
        {{> "widget-blog-logo"}}
        {{navigation}}
        {{> "widget-tags-cloud"}}
        {{> "widget-follow-me"}}
      </div>
    </div>
  </div>
</div>
