{{!-- Mobile Header: Only show on mobile (screen width < 640px) --}}

<div id="mobile-nav">
  <div id="mobile-nav-mask"></div>

  <div id="mobile-nav-inner" class="clearfix">
    <div class="scroll-box fl">
      <div class="wrap">
        <a class="logo" href="{{@blog.url}}" title="{{@blog.description}}">
          {{#if @blog.logo}}
            <img src="{{@blog.logo}}" alt="{{@blog.title}}">
          {{else}}
            <div class="title">{{@blog.title}}</div>
            {{#if @blog.description}}
              <div class="des">{{@blog.description}}</div>
            {{/if}}
          {{/if}}
        </a>

        {{navigation}}

        {{> 'widget-blog-follow'}}
      </div>
    </div>
  </div>
</div>