{{!-- Main: Pagination --}}

<div id="pagination" class="clearfix">


  <li class="next fr">
    {{#if next}}
      <a href="{{page_url next}}">下一页</a>
    {{else}}
      <span>下一页</span>
    {{/if}}
  </li>

  <li class="pages fr">
    <span>{{page}} / {{pages}}</span>
  </li>

  <li class="prev fr">
    {{#if prev}}
      <a href="{{page_url prev}}">上一页</a>
    {{else}}
      <span>上一页</span>
    {{/if}}
  </li>
</div>
