{{!-- Previous/Next Post --}}

<aside id="post-prev-next" class="main-card">
  {{#next_post}}
    <div class="link next">
      <a title="Next Post: {{title}}" href="{{url}}">{{title}}</a>
      <div class="icon-arrow arrow-left"></div>
    </div>
  {{/next_post}}

  {{#prev_post}}
    <div class="link prev">
      <div class="icon-arrow arrow-right"></div>
      <a title="Previous Post: {{title}}" href="{{url}}">{{title}}</a>
    </div>
  {{/prev_post}}
</aside>
