{{!-- Blog Info Widget --}}

<div class="widget widget-blog-info">
  <a class="icon" href="{{@blog.url}}">
    {{#if @blog.icon}}
      <img src="{{@blog.icon}}" alt="{{@blog.title}}">
    {{else}}
      <img src="{{asset 'img/avatars/default-blog-avatar.png'}}" alt="{{@blog.title}}">
    {{/if}}
  </a>

  <a class="title" href="{{@blog.url}}">{{@blog.title}}</a>

  {{#if @blog.description}}
    <div class="des">{{@blog.description}}</div>
  {{/if}}

  <ul class="social">
    <li>
      <a href="https://github.com/imzhengfei/ghost-theme-flatghost"
         title="GitHub"
         target="_blank"
         rel="nofollow">
        <i class="icon-social icon-social-github"></i>
      </a>
    </li>

    <!--<li>-->
      <!--<a href=""-->
         <!--title="知乎"-->
         <!--target="_blank"-->
         <!--rel="nofollow">-->
        <!--<i class="icon-social icon-social-zhihu"></i>-->
      <!--</a>-->
    <!--</li>-->

    <!--<li>-->
      <!--<a href=""-->
         <!--title="新浪微博"-->
         <!--target="_blank"-->
         <!--rel="nofollow">-->
        <!--<i class="icon-social icon-social-weibo"></i>-->
      <!--</a>-->
    <!--</li>-->

    {{#if @blog.facebook}}
      <li>
        <a href="{{facebook_url}}"
           title="FaceBook"
           target="_blank"
           rel="nofollow">
          <i class="icon-social icon-social-facebook"></i>
        </a>
      </li>
    {{/if}}

    {{#if @blog.twitter}}
      <li>
        <a href="{{twitter_url}}"
           title="Twitter"
           target="_blank"
           rel="nofollow">
          <i class="icon-social icon-social-twitter"></i>
        </a>
      </li>
    {{/if}}
  </ul>
</div>
