{{!-- widget：blog info --}}


<div class="widget-blog-logo">

    {{#if @blog.logo}}
        <a class="logo" href="{{@blog.url}}">
            <img src="{{@blog.logo}}" alt="{{@blog.title}}" />
        </a>
    {{else}}
        <a class="blog-title" href="{{@blog.url}}">
            <h1>{{@blog.title}}</h1>
            {{#if @blog.description}}
                <div class="des">{{@blog.description}}</div>
            {{/if}}
        </a>
    {{/if}}
</div>
