<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>
  {{!-- Document Settings --}}
  <meta charset="utf-8">

  {{!-- Base Meta --}}
  <title>{{meta_title}}</title>
  <meta name="robots" content="index, follow">
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="email=no">

  {{!-- Styles --}}
  <style>
    :root {
      /* Color: Turquoise */
      --dark-color: #16A085;
      --standard-color: #1ABC9C;
      --light-color: #48C9B0;

      /* Color: Blue */
      /*--dark-color: #2980B9;*/
      /*--standard-color: #3498DB;*/
      /*--light-color: #5DADE2;*/

      /* Color: Green */
      /*--dark-color: #27AE60;*/
      /*--standard-color: #2ECC71;*/
      /*--light-color: #58D68D;*/

      /* Color: Red */
      /*--dark-color: #C0392B;*/
      /*--standard-color: #E74C3C;*/
      /*--light-color: #EC7063;*/

      /* Color: Orange */
      /*--dark-color: #D35400;*/
      /*--standard-color: #E67E22;*/
      /*--light-color: #F69036;*/

      /* Color: Yellow */
      /*--dark-color: #F39C12;*/
      /*--standard-color: #F1C40F;*/
      /*--light-color: #F4D313;*/

      /* Color: Purple */
      /*--dark-color: #8E44AD;*/
      /*--standard-color: #9B59B6;*/
      /*--light-color: #B574D0;*/
    }
  </style>
  <!-- build:replace '<link rel="stylesheet" href="{{asset 'css/bundle.css'}}">' -->
  <link rel="stylesheet" href="{{asset 'libraries/prism/prism.css'}}">
  <link rel="stylesheet" href="{{asset 'libraries/gitalk/gitalk.css'}}">
  <link rel="stylesheet" href="{{asset 'css/basic.css'}}">
  <link rel="stylesheet" href="{{asset 'css/global.css'}}">
  <link rel="stylesheet" href="{{asset 'css/screen.css'}}">
  <link rel="stylesheet" href="{{asset 'css/widgets.css'}}">
  <link rel="stylesheet" href="{{asset 'css/mobile.css'}}">
  <!-- /build -->

  {{!-- DNS Prefetch --}}
  <meta http-equiv="x-dns-prefetch-control" content="on">
  <link rel="dns-prefetch" href="https://github.com">
  <link rel="dns-prefetch" href="https://ghost.org">

  {{!-- This tag outputs SEO meta, structured data and other important settings --}}
  {{ghost_head}}
</head>
<body class="{{body_class}}"
{{#if @site.cover_image}}
      style="background-image: url({{@site.cover_image}})"
{{/if}}>

<div id="main-wrapper" class="clearfix">
  <main id="main" class="fl" role="main">
    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    {{{body}}}

    {{!-- The footer at the very bottom of the screen --}}
    {{> 'footer'}}
  </main>

  <aside id="sidebar" class="fl">
    {{> 'widget-blog-nav'}}
    {{> 'widget-featured-posts'}}
    {{> 'widget-tags-cloud'}}
    {{> 'widget-blog-stat'}}
    {{> 'widget-blog-follow'}}
  </aside>
</div>

{{> 'mobile-header'}}
{{> 'mobile-nav'}}

{{!-- Scripts --}}
{{{block 'prism-scripts'}}}
{{{block 'gitalk-scripts'}}}
<!-- build:replace '<script src="{{asset 'js/bundle.js'}}"></script>' -->
<script src="{{asset 'js/common.js'}}"></script>
<!-- /build -->

{{!-- Ghost outputs important scripts and data with this tag - it should always be the very last thing before the closing body tag --}}
{{ghost_foot}}
</body>
</html>