{{!< default}}
{{!-- 上面的标签意思是：这个文件将插入到 "default.hbs" 中的 "{{{body}}}" 处 --}}

{{#post}}
<div id="page-post">

    {{!-- 文章 --}}
    <div class="main box {{post_class}}" role="main">

        {{!-- 标题 --}}
        <h1>{{title}}</h1>

        {{!-- 元信息 --}}
        <ul class="post-meta radius">
            <li>
                <div class="ico ico-author"></div>
                {{author}}
            </li>
            <li>
                <div class="ico ico-date"></div>
                <span>{{date format="YYYY-MM-DD"}}</span>
            </li>
            <li>
                <div class="ico ico-tags"></div>
                {{tags}}
            </li>
            <li class="none">
                <div class="ico ico-comments"></div>
            </li>
        </ul>

        {{!-- 内容 --}}
        <div class="content md">
            {{content}}
        </div>

        {{!-- 版权声明 --}}
        <div class="copyright">
            <em>版权声明：</em>
            <span>本作品采用 <a href="https://creativecommons.org/licenses/by/4.0/deed.zh" target="_blank" rel="nofollow">知识共享署名 4.0 国际许可协议</a> 进行许可，</span>
            <span>分享或演绎请注明本文作者 {{author}} 和 <a href="{{@blog.url}}{{url}}">本文链接</a>。</span>
        </div>
    </div>

    {{!-- 作者信息 --}}
    {{> "main-author"}}

</div>
{{/post}}
