{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}


{{#post}}
<div id="page-post">

    <div id="main-content" class="main-card {{post_class}}" role="main">

        {{#if image}}
            <img src="{{image}}" alt="{{title}} - {{@blog.title}}">
        {{/if}}

        <div class="title">
            {{#if featured}}
                <div class="feature-ico"></div>
            {{/if}}
            <h1>{{title}}</h1>
        </div>

        <ul class="post-meta">
            <li>
                <div class="ico ico-author"></div>
                {{author}}
            </li>
            <li>
                <div class="ico ico-date"></div>
                <span>{{date updated_at format="YYYY-MM-DD"}}</span>
            </li>

            <!--<li>-->
                <!--<div class="ico ico-comments"></div>-->
                <!--<span>评论数</span>-->
            <!--</li>-->

            {{!-- 在移动设备 (width < 640px) 上，tags 会在文章内容底部，版权声明前面显示 --}}
            <li class="mobile-hide">
                {{#if tags}}
                    <div class="ico ico-tags"></div>
                    {{tags}}
                {{/if}}
            </li>
        </ul>

        <div class="content md">
            {{content}}
        </div>

        {{!-- 仅在移动设备 (width < 640px) 显示 --}}
        <ul class="post-meta mobile-show">
            {{#if tags}}
                <li>
                    <div class="ico ico-tags"></div>
                    {{tags}}
                </li>
            {{/if}}
        </ul>

        <div class="copyright">
            <p>
                <em>版权声明：</em>
                <span>本作品采用 <a href="https://creativecommons.org/licenses/by/4.0/deed.zh" target="_blank" rel="nofollow">知识共享署名 4.0 国际许可协议</a> 进行许可，分享或演绎请注明本文作者和本文链接。</span>
            </p>
            <p>
                <em>本文作者：</em>
                <span>{{author}}</span>
            </p>
            <p>
                <em>本文链接：</em>
                <span>{{@blog.url}}{{url}}</span>
            </p>
        </div>
    </div>

    {{!-- Links to Previous/Next posts --}}
    <div id="prev-next-link" class="main-card">

        <ul class="items">

            <li class="item prev">
                {{#prev_post}}
                    <div class="arrow-left"></div>
                    <a class="link" title="阅读前一篇文章" href="{{url}}">
                        <h2>{{title}}</h2>
                    </a>
                {{/prev_post}}
            </li>

            <Li class="item next">
                {{#next_post}}
                    <a class="link" title="阅读后一篇文章" href="{{url}}">
                        <h2>{{title}}</h2>
                    </a>
                    <div class="arrow-right"></div>
                {{/next_post}}
            </Li>
        </ul>
    </div>
</div>
{{/post}}
