{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
  <div id="page-post">
    <article id="post-content" class="{{post_class}} main-card">
      <header class="post-header">
        {{#if feature_image}}
          <figure>
            <img src="{{img_url feature_image}}"
                 srcset="{{img_url feature_image size='s'}} 750w,
                         {{img_url feature_image size='m'}} 1080w,
                         {{img_url feature_image size='l'}} 1920w"
                 alt="{{title}}">
          </figure>
        {{/if}}

        <div class="post-title">
          {{#if featured}}
            <span class="featured-icon">★</span>
          {{/if}}
          <h1>{{title}}</h1>
        </div>

        <ul class="post-meta">
          <li>
            <span class="icon-post icon-post-date"></span>
            <span>{{date published_at format="YYYY-MM-DD"}}</span>
          </li>

          <li>
            <span class="icon-post icon-post-authors"></span>
            {{authors separator='<i>,&nbsp;</i>' limit='3'}}
          </li>

          {{#if tags}}
            <li class="tags">
              <span class="icon-post icon-post-tags"></span>
              {{tags separator='<i>,&nbsp;</i>' limit='5'}}
            </li>
          {{/if}}
        </ul>
      </header>

      {{!-- Class name "line-numbers" is used for Prism plugin "Line Numbers" --}}
      <section id="content" class="markdown line-numbers">
        {{content}}
      </section>
    </article>

    {{!-- Show post comments --}}
    {{> 'post-comments'}}

    {{!-- Show related posts --}}
    {{> 'post-related'}}

    {{!-- Link to previous/next post --}}
    {{> 'post-prev-next'}}
  </div>
{{/post}}

{{#contentFor 'prism-scripts'}}
  <script src="{{asset 'libraries/prism/clipboard.min.js'}}"></script>
  <script src="{{asset 'libraries/prism/prism.js'}}"></script>
{{/contentFor}}
